#header{
    background: rgba(41, 41, 41, 0.6);
}
.header__logo{
    margin: 5px 50px;
    padding: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    align-self: center;
}

.header__nav{
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.gradiente{
    margin-top: 65px;
    display: flex;
    height: 200px;
    justify-content: center;
    border: 2px solid black;
    background-image: linear-gradient(73.1deg,  rgba(34,126,34,1) 8%, rgba(99,162,17,1) 86.9% );
}
.gradiente h2{
    align-self: center;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

.animacion{
    display: grid;
    grid-template-columns:  50% 50%;
    height: 600px;
}

.animacion__area1{
    grid-column: 1;
    background-image: url("../img/imagen2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
}

.animacion__area1 h3{
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    align-self: center;
    margin-bottom: 150px;
    grid-column: 2;
    animation: animacion;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}

.animacion__area2{
    padding: 30px 50px;
    text-align: center;
}

.animacion__area2 p{
    margin-top: 20px;
    text-align: justify;
}

@keyframes animacion {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
.formulario{
    margin-top: 101px;
}

.container.formulario h2{
    margin-bottom: 10px;
}

.col-md-12.boton_enviar{
    margin-top: 10px;
}