$color_boton: #4CAF50; 
$borde_boton: 1px solid black;
$transicion: 0.5s;

$colores:(
    cool_white: #F9F7F2,
    cool_green: #57BE6C,

);

@mixin flex_center_size {
    display: flex;
    justify-content: center;
    margin-top: 144px;
    height: 85px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#header {
    position: sticky;
    z-index: 999;
    top: 0; /*SE AGREGA TOP 0 PARA QUE SE MANTENGA AL SCROLLEAR */
    background: rgba(41, 41, 41, 0.6);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    .header__nav{
        margin: auto;
    }
    
    .header__nav ul{
        list-style: none;
        padding: 10px;
        display: flex;
    }
    
    .header__nav ul li a{
        text-decoration: none;
        display: inline-block;
        margin: 5px 0px 5px 0px;
        padding: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        color: white;
    }
    
    .header__logo{
        display: none;
    }

}

/*index*/
.banner{
    background-image: url("../img/imagen.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

    .banner__text{
        display: flex;
        justify-content: center;
        margin-top: 144px;
        height: 85px;
    
        .banner__text-mensaje{
            color: white;
            font-size: 45px;
        }
    }

}


.banner-Secundario{
    display: grid;
    grid-template-columns: 50% 50%;

    .banner-Secundario__imagen{
        grid-column: 1;

        img{
            width: 100%;
        }
    }
}
/*PÁGINA DE CONTACTO - formulario*/
.formulario{
    background: rgba(41, 41, 41, 0.6);
    border-radius: 2px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 450px;
    position: relative;
}

.container.formulario{
    h2{
        margin-bottom: 10px;
        color: white;
    }
    label{
        color: white;
        margin-top: 2px; 
    }
}
.col-md-12.boton_enviar{
    margin-top: 10px;
}
/*-------------------------------*/

/*PAGINA DETALLES - TABLA*/
.tabla{
    padding: 2px;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;

    th{
        background-color: #04AA6D;
        color: white;
        font-size: 20px;
        padding: 0 5px 0 5px;
    }

    td{
        padding: 5px;
        text-align: center;
    }

    tr{
        &:hover{
            background-color: map-get($colores , cool_green );
        }
    }
}

.container__tabla{
    margin-top: 30px;

    .section__texto, .section__tabla{
        margin-top: 40px;
    }
}

/*-------------------------------*/

.boton__registro{
    padding: 2px 5px;
    border-radius: 3px;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
}

.banner__button{
    margin: 100px 50%;

    .banner__button-style{
        width: 100px;
        height: 40px;
        border: $borde_boton;
        border-radius: 9px;
        cursor: pointer;
        background-color: map-get($colores, cool_green);
        transition-duration: 0.5s;

        &:hover{
            background-color: white;
        }
        a{
            transition-duration: 0.5s;
            width: 100px;
            height: 40px;
            padding: 9px;

            &:link,&:visited,&:active,&:hover{
                color: $color_boton;
                text-decoration: none;
                color: black;
            }
            &:hover{
                color: $color_boton;
            }
        }



       
    }
}

#registro{
    display: flex;
    justify-content: center;

    form {

        border: solid 1px map-get($colores, cool_green);
        padding: 10px;
        margin-top: 10px;

        div{
            margin-top: 5px;
        }
        label{
            display: flex;
        }
    }
}
.registro__banner{
    @include flex_center_size;

    h2{
        color:  map-get($colores, cool_white);
        font-size: 100px;
    }
}

.botonesRegistro{
    @extend .boton__registro;
    background-color: map-get($colores, cool_green);
    color:  map-get($colores, cool_white);
}

.botonCancelar{
    @extend .boton__registro;
    color: black;
}

/* about */
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 30px auto;
    background: #fafafa;

    .product-tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        padding: 50px;
        background: #f0f0f0;

        img {
            width: 100%;
        }
    }

    .product-details {
        padding: 30px;
        border-top: 1px solid black;

        p {
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 18px;
            color: #999;
            text-align: justify;
        }

        h4{
            a{
                font-weight: 500;
                display: block;
                margin-bottom: 18px;
                text-transform: uppercase;
                color: #363636;
                text-decoration: none;
                transition: 0.3s; 
                
                &:hover{
                    color: red;
                }
            }


        }
    }


	
}

@media only screen and (min-width: 768px){
    #header{
        .header__logo{
            display: block;
            margin: 5px 50px;
            padding: 10px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 24px;
            color: white;
            align-self: center;
        }
        .header__nav{
            margin-right: 50px;
        }
    }
    .banner{    
        .banner__text{
            .banner__text-mensaje{
                font-size: 100px;
            }
        }
    
    }

    .formulario{
        margin: 50px auto;
        width: 420px;
        position: relative;
    }

    .staff-cards{
        display: flex;
    }


}




