@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  /*SE AGREGA TOP 0 PARA QUE SE MANTENGA AL SCROLLEAR */
  background: rgba(41, 41, 41, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#header .header__nav {
  margin: auto;
}

#header .header__nav ul {
  list-style: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header__nav ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 5px 0px 5px 0px;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: white;
}

#header .header__logo {
  display: none;
}

/*index*/
.banner {
  background-image: url("../img/imagen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.banner .banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 144px;
  height: 85px;
}

.banner .banner__text .banner__text-mensaje {
  color: white;
  font-size: 100px;
}

/*PÁGINA DE CONTACTO - formulario*/
.formulario {
  background: rgba(41, 41, 41, 0.6);
  border-radius: 2px;
  padding-top: 10px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 450px;
  position: relative;
}

.container.formulario h2 {
  margin-bottom: 10px;
  color: white;
}

.container.formulario label {
  color: white;
  margin-top: 2px;
}

.col-md-12.boton_enviar {
  margin-top: 10px;
}

/*-------------------------------*/
/*PAGINA DETALLES - TABLA*/
.tabla {
  padding: 2px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

.tabla th {
  background-color: #04AA6D;
  color: white;
  font-size: 20px;
  padding: 0 5px 0 5px;
}

.tabla td {
  padding: 5px;
  text-align: center;
}

.tabla tr:hover {
  background-color: #57BE6C;
}

.container__tabla {
  margin-top: 30px;
}

.container__tabla .section__texto, .container__tabla .section__tabla {
  margin-top: 40px;
}

/*-------------------------------*/
.boton__registro, .botonesRegistro, .botonCancelar {
  padding: 2px 5px;
  border-radius: 3px;
  margin: 5px;
  border: 2px solid black;
  text-align: center;
}

.banner__button {
  margin: 100px 50%;
}

.banner__button .banner__button-style {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: #57BE6C;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.banner__button .banner__button-style:hover {
  background-color: white;
}

.banner__button .banner__button-style a {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100px;
  height: 40px;
  padding: 9px;
}

.banner__button .banner__button-style a:link, .banner__button .banner__button-style a:visited, .banner__button .banner__button-style a:active, .banner__button .banner__button-style a:hover {
  color: #4CAF50;
  text-decoration: none;
  color: black;
}

.banner__button .banner__button-style a:hover {
  color: #4CAF50;
}

#registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#registro form {
  border: solid 1px #57BE6C;
  padding: 10px;
  margin-top: 10px;
}

#registro form div {
  margin-top: 5px;
}

#registro form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registro__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 144px;
  height: 85px;
}

.registro__banner h2 {
  color: #F9F7F2;
  font-size: 100px;
}

.botonesRegistro {
  background-color: #57BE6C;
  color: #F9F7F2;
}

.botonCancelar {
  color: black;
}

@media only screen and (min-width: 768px) {
  #header .header__logo {
    display: block;
    margin: 5px 50px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #header .header__nav {
    margin-right: 50px;
  }
  .formulario {
    margin: 50px auto;
    width: 420px;
    position: relative;
  }
}
/*# sourceMappingURL=sass_style.css.map */