$color_boton: #4CAF50; 
$borde_boton: 1px solid black;
$transicion: 0.5s;

.banner__button{
    margin: 100px 50%;

    .banner__button-style{
        width: 100px;
        height: 40px;
        border: $borde_boton;
        border-radius: 9px;
        cursor: pointer;
        background-color: $color_boton;
        transition-duration: 0.5s;

        &:hover{
            background-color: white;
        }
        a{
            transition-duration: 0.5s;
            width: 100px;
            height: 40px;
            padding: 9px;

            &:link,&:visited,&:active,&:hover{
                color: $color_boton;
                text-decoration: none;
                color: black;
            }
            &:hover{
                color: $color_boton;
            }
        }



       
    }
}